// Colors
$roboto: 'Roboto', sans-serif;
$poppins: 'Poppins', sans-serif;
$fontBold: 700;
$fontSemi: 600;
$fontMid: 500;
$fontReg: 400;
$transition: all 300ms ease-in-out;
$shaddowDefault: 0 0 30px 5px rgba(0, 0, 0, 0.05);

// colors
$primaryColor: #FF3682;
$primaryTextColor: #000000;
$secondaryTextColor: #6a6a6a;
$lightGray: #f7f9fa;

// font-size
$small: 85%;
